.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}


/*couldn't set #mapid to 100% height so did this cheeky workaround */


/* html {
    overflow: auto;
} */

.container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    padding: 10px;
    margin: 0;
}

#locateMe {
    z-index: 1000;
    bottom: 4vh;
    position: absolute;
    right: 5vw;
    height: 40px;
    width: 45px;
    background: rgb(237, 240, 243);
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.fa-crosshairs {
    font-size: 20px;
    color: rgb(10, 85, 155);
    font-weight: 20px;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loader-2/Preloader_8.gif') center no-repeat #fff;
}

#mapid {
    height: 660px;
    width: 100%;
}

.leaflet-bottom .leaflet-right {
    padding: 1px;
}

.range i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    background-color: teal;
    margin-bottom: 2px;
}

.leaflet-right .leaflet-control {
    margin-right: 3vw;
}

.leaflet-bottom .legend {
    margin-bottom: 18vh;
}

.legend {
    height: auto;
    width: 10vw;
    line-height: 18px;
    color: #555;
    clear: both;
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.my-map-marker {
    background-color: red;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 0px;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container a.leaflet-popup-close-button {
    display: none;
}

.tooltip {
    height: 10vh;
    /* border: 2px solid rgb(255, 255, 255); */
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 4px 0.5px rgb(49, 49, 49);
    z-index: 10000!important;
    font-size: 16px;
    font-weight: bold;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    position: absolute;
    pointer-events: none;
    border: 0px;
    background-color: #fff;
    content: "";
    opacity: 1!important;
}

.tooltipdiv {
    opacity: 1!important;
}

.positive {
    color: red;
}